@charset "UTF-8";
* {
    outline: none!important;
}

/*---------------------------------
  基本設定
---------------------------------*/

body {
    background-color: #2B2B2B;
}

html {
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}

p, a {
    font-size: 14px;
    line-height: 1.8em;
    color: white;
    text-decoration: none;
}

a, a:hover {
    transition: 0.4s;
}

ul, li {
    list-style-type: none;
    font-size: 14px;
    line-height: 1.8em;
    color: white;
}

img {
    width: 100%;
}

/*---------------------------------
  ヘッダー
---------------------------------*/

header {
    height: 1080px;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 40px;
    
}

/* ヘッダーの各部位の配置 */
.header-all {
    display: flex;
    width: 100%;
    height: 1080px;
}


.header-left {
    width: 35%;
    position: relative;
}

.header-center {
    width: 30%;
}

.header-right {
    width: 35%;
    position: relative;

}

/* ヘッダー左側 */
.header-left-img img {
    height: 1080px;
    padding-left: 40px;
    padding-right: 10px;
    width: 100%;
    object-fit: cover;
}

.header-title h1 {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 2;
    color: white;
    opacity: 0.5;
    font-size: 90px;
    line-height: 1.5;
}


/* ヘッダー右側 */
.header-right img {
    padding: 0 10px;
}


.header-right .top {
    position: absolute;
    top: 0;
    right: 0;
    height: 600px;
    width: 50%;
    object-fit: cover;
}

.header-right .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 700px;
    width: 50%;
    object-fit: cover;
}


/* ヘッダー真ん中 */

.header-logo {
    padding-top: 150px;
    text-align: center;
}


.header-logo img {
    width: 60%;
    margin: 0 auto;
    padding: 0 30px;
}


/* スマホ用のメニューを隠す */
#navArea {
    display: none; 
}

/* PC用のメニュー */
.drawer-nav-pc {
    text-align: center;
    padding-top: 100px;
}

.drawer-nav-pc li:first-child {
    padding: 20px 0;
}

.drawer-nav-pc li {
    padding: 30px 0;
}

.drawer-nav-pc img {
    width: auto;
}

.pc-menu li a {
    position: relative;
    padding: 20px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* メニューホバーで下線を表示 */

.pc-menu li a:hover {
    text-decoration: underline;
}







/*---------------------------------
  本文
---------------------------------*/

main {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 40px;
    
}

/* 各コンテンツのかたまり */
.camp-content, .voice-content, .spot-content, .baggage-content {
    padding-top: 200px;
}


/* 各コンテンツのタイトル */
.content-title {
    text-align: center;
    padding-bottom: 100px;
}


.content-title h2 {
    font-size: 40px;
    color:white;
}


/* 横並びコンテンツ */
.content-wrap {
    display: flex;
    flex-direction : row-reverse;
    width: 100%;
}

.content-left {
    width: 50%;
    padding: 30px 80px;
    position: relative;
    background-color: #2B2B2B;
}

.content-left h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 30px;
}

.content-left p {
    overflow-wrap: break-word;
}

.content-left .detail {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.content-right {
    width: 50%;
}


/* More */

.detail {
    display: block;
    width: 100px;
    margin: auto;
    padding: 5px 30px;
    background-color: #707070;
    border-radius: 40px;
    border: 1px solid #707070;
    text-align: center;
}

.detail:hover {
    border: 1px solid #b8b8b8;
    background-color: #b8b8b8;
}



/* ########キャンパーの声######## */

.caption-title {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.caption {
    overflow-wrap: break-word;
    padding: 0 20px;
}

.voice-content .detail {
    margin-top: 80px;
}


/* スライダー（キャンパーの声） */
.slider-content {
    margin: 0 10px;
    padding-bottom: 40px;
}

.slick-dots li button::before,
.slick-dots li.slick-active button::before {
    color: #b8b8b8;
}

.slider-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 10px;
}

.slider-content a:hover img {
    opacity: 0.5;
}

.slider-content a:hover {
    text-decoration: underline;
}



/* ########キャンプスポット######## */

.spot-content {
    margin: 0 50px;
}


.caption2-title {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.spot-content .detail {
    margin-top: 80px;
}


/* スライダー（キャンプスポット） */
.slider2 .slick-list {
    padding-right: 80px;
}

.slider2-content {
    margin: 0 10px;
    padding-bottom: 40px;
}

.slider2-content:nth-child(even) {
    padding-top: 100px;
}

.slider2-content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding: 10px;
}


/* スライダーの左右のボタン調節 */
.slick-prev, .slick-next,
.slick-prev:before, .slick-next:before 
{
    width: 30px;
    height: 30px;
}

.slick-prev {
    left: -45px;
}

.slick-next {
    right: -45px;
}

.slider2-content a:hover img {
    opacity: 0.5;
}

.slider2-content a:hover {
    text-decoration: underline;
}


/* ########キャンプに必要な物######## */

/* スライダー（キャンプに必要な物）*/
.slider3-content {
    text-align: center;
    position: relative;
}

.slider3-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slider3-content p {
    font-size: 20px;
    padding-top: 10px;
}

.slider3-content a:hover img {
    opacity: 0.5;
}

.slider3-content a:hover {
    text-decoration: underline;
}

.caption3 {
    position: absolute;
    bottom: 30px;
    right: 30px;
}



/*---------------------------------
  フッター
---------------------------------*/

footer {
    position: relative;
}

.footer-content {
    max-width: 2000px;
    margin: 0 auto;    
}

/* メニュー */
.footer-menu {
    padding-left: 80px;
    padding-top: 400px;
    width: 60%;
    display: flex;
    justify-content: space-between;    
}

.footer-menu a {
    font-size: 16px;
}


.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu h4 {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

.footer-menu li {
    padding: 0 10px;
}

/* SNS */

.footer-sns {
    padding-left: 80px;
    padding-top: 200px;
    width: 30%;
}

.footer-sns ul {
    display: flex;
    justify-content: space-between;
}

.footer-sns img {
    height: 36px;
    width: 36px;
}

.footer-sns a:hover {
    opacity: 0.5;
}

/* Mail */
.footer-mail {
    padding-left: 80px;
    padding-top: 20px;
    width: 30%;
}

.footer-mail a {
    font-size: 16px;
}


.footer-mail a:hover {
    text-decoration: underline;
}


/* copyright */
.copyright {
    padding-top: 200px;
    text-align: center;
    padding-bottom: 30px;
}


/* 背景 */
.footer-bkg {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
}






/*-------------------------------------------------------------------
---------------------------------------------------------------------
  スマホ・タブレット用
---------------------------------------------------------------------
-------------------------------------------------------------------*/

@media screen and (max-width:960px ) {

/*---------------------------------
  ヘッダー
---------------------------------*/

header {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0;  
}

/* ヘッダーの各部位の配置 */
.header-all {
    display: block;
    width: 100%;
    height: 600px;
    position: relative;
}


.header-left {
    width: 100%;
    position: static;
}

.header-center {
    width: 100%;
    position: static;
}

.header-right {
    display: none;

}

/* ヘッダー左側 */
.header-left-img img {
    height: 600px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    object-fit: cover;
}

.header-title h1 {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 2;
    color: white;
    opacity: 0.5;
    font-size: 40px;
    line-height: 1.5;
    padding-left: 20px;
}


/* ヘッダー右側 */


/* ヘッダー真ん中 */

.header-logo {
    position: absolute;
    top: 10%;
    left: 10%;
    padding-top: 0px;
    padding-left: 20px;
    text-align: left;
}


.header-logo img {
    width: 40%;
    margin: 0;
    padding: 0;
}


/* PC用のメニューを隠す */
.drawer-nav-pc {
    display: none;
}


/* スマホ用のメニューを表示する */
#navArea {
    display: block; 
}

/* PC用のメニュー */
.drawer-nav {
    text-align: center;
    padding-top: 100px;
}

.drawer-nav li:first-child {
    padding: 20px 0;
}

.drawer-nav li {
    padding: 0;
}

.drawer-nav img {
    width: auto;
}

.pc-menu li a {
    position: relative;
    padding: 20px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.pc-menu li a:hover {
    text-decoration: underline;
}


/* ------------- ハンバーガーメニュー -------------- */

.drawer-nav {
    display: block;
    position: fixed;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: 0;
    width: 500px;
    height: 500px;
	border-radius: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
}

.open .drawer-nav {
    right: -15%;
    top: -10%;
    background: rgba(255,255,255,0.2);
}

.drawer-nav .drawer-inner {
    top: 10%;
    right: 10%;
}

.drawer-nav .drawer-inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.drawer-nav .drawer-inner ul li {
    position: relative;
    margin: 0;
    line-height: 1em;
}

.drawer-nav .drawer-inner ul li a {
    display: block;
    color: white;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}

.open .drawer-nav .drawer-inner ul li a {
    opacity: 1;
}

.drawer-nav .drawer-inner ul li a:hover {
    color: white;
    transition: 0.2s;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .drawer-nav {
        width: 450px;
        height: 450px;
    }

    .open .drawer-nav {
        right: -25%;
        top: -10%;
    }
    .drawer-nav .drawer-inner ul li {
        line-height: 0.8em;
    }
    
    .drawer-nav .drawer-inner ul li a {
        padding: 0.8em;
    }

}


@media screen and (max-width: 500px) {
    .drawer-nav {
        width: 380px;
        height: 380px;
    }

    .open .drawer-nav {
        right: -20%;
        top: -8%;
    }

    .drawer-nav .drawer-inner ul li {
        line-height: 0.5em;
    }
    
    .drawer-nav .drawer-inner ul li a {
        padding: 0.5em;
    }

}

/* .toggle_btn */

.toggle_btn {
    display: block;
    /* position: fixed; */
    position: absolute;
    top: 25px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
}

.toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 4px;
    transition: all .5s;
}

.toggle_btn span:nth-child(1) {
    top: 4px;
}

.toggle_btn span:nth-child(2) {
    top: 13px;
}

.toggle_btn span:nth-child(3) {
    bottom: 4px;
}
  
.open .toggle_btn span {
    background-color: white;
}

.open .toggle_btn span:nth-child(1) {
    transform: translateY(10px) rotate(-135deg);
}

.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
    transform: translateY(-9px) rotate(135deg);
}





/*---------------------------------
  本文
---------------------------------*/

main {
    padding: 0 40px;
    max-width: 700px;
    margin: 0 auto;
}

/* 各コンテンツのかたまり */
.camp-content, .voice-content, .spot-content, .baggage-content {
    padding-top: 150px;
}


/* 各コンテンツのタイトル */
.content-title {
    padding-bottom: 50px;
}


.content-title h2 {
    font-size: 26px;
}


/* 横並びコンテンツ */
.content-wrap {
    display: block;
    width: 100%;
}

.content-left {
    width: 100%;
    padding: 0;
    padding-top: 30px;
}

.content-left h3 {
    text-align: center;
    color: white;
    font-size: 18px;
    padding-bottom: 30px;
}

.content-left p {
    overflow-wrap: break-word;
}

.content-left .detail {
    position: static;
    margin-top: 30px;
}

.content-right {
    width: 100%;
}





/* ########キャンパーの声######## */



/* ########キャンプスポット######## */


/* スライダー（キャンプスポット） */
.slider2 .slick-list {
    padding-right: 200px;
}


/* ########キャンプに必要な物######## */


/* ########スライダー（キャンプに必要な物）######## */

.slider3-content p {
    font-size: 14px;
}










/*---------------------------------
  フッター
---------------------------------*/

.footer-content {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 40px;
}

/* メニュー */
.footer-menu {
    padding-top: 200px;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0;
}

.footer-menu a {
    font-size: 14px;
}


.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu h4 {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 30px;
}

.footer-menu li {
    padding: 0;
}

/* SNS */

.footer-sns {
    padding-top: 100px;
    width: 100%;
    max-width: 300px;
    padding-left: 0;
}

/* Mail */

.footer-mail {
    padding-left: 0;
    padding-bottom: 100px;
}

.footer-mail a {
    font-size: 16px;
}


/* copyright */
.copyright {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 10px;
}


}

